<div class="card">
    <h2>New Locations</h2>
    <%= form_with model: @location do |form| %>
        <%= form.text_field :name, placeholder: "Name" %>
        <%= form.text_field :descrition, placeholder: "Description" %>
        <%= form.submit %>
    <% end %>
</div>
